# Build files
build/
html/
latex/
compile_commands.json
__pycache__/

# Virtual environments
venv/

# IDE Files
.idea/
coc-settings.json

# macOS files
.DS_Store

# Generated documentation files
/docs/srs.rtc
/docs/srs.stylelog
